/* .about__container {
    background-image: radial-gradient(transparent, rgb(229, 229, 229)), 
    url("../assets/images/y-so-serious-white.png");
} */


.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    cursor: default;
}

.about__header {
    color: var(--color-black);
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about__container-description {
    color: var(--color-black)
}

.about__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-top: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (min-width: 601px) {
    
    .about__container-description {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: center;
        align-items: flex-start;
    }


    .about__image {
        padding: 0rem;
    }
}

  /* MEDIA QUERIES (BIG  DEVICES) */
  
  @media screen and (min-width: 992px) {
    .about__container {
        justify-content: center;
    }

    .about__container-description {
        max-width: 1024px;
        justify-content: space-between;
    }

    .about__header {
        font-size: 3em;
    }
}
