header {
    background-image: radial-gradient(transparent, rgb(0, 0, 0)), 
    url("../assets/images/y-so-serious.png");
}

.container.header__container {
    display: grid;
    justify-content: center;
    padding: .5rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 100vh;
    position: relative;
    cursor: default;
}

.header__container h1 {
    line-height: 3rem;
}

span {
    color: var(--color-gold)
}

span.border {
    text-shadow: -1px 0 #7E4E02, 0 1px #7E4E02, 1px 0 #7E4E02, 0 -1px #7E4E02
}

.header__container h1,
.header__container h5 {
    margin-bottom: 1rem;
}

.header__description {
    display: grid;
    padding: 0;
    align-items: center;
}

.header__container .btn-primary {
    /* margin-top: 2rem; */
    margin: 2rem auto 1rem auto;
}

.header__image {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--color-gold);
    width: 150px;
    height: 150px;
    transition: var(--transition);
}

.header__image img {
    object-fit: cover;
    position: relative;
    top: 10px;
    z-index: 0;
    /* transform: scale(110%); */
    width: 200px;
    height: 200px;
    transition: var(--transition);
}

.header__image img:hover {
    transform: scale(110%);
}

.header__socials {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    height: 10px;
    position: absolute;
    left: -100px;
    top: 50vh;
    /* left: -100%; */
    /* transform: translateX(-205%); */
}

.header__socials a {
    display: inline-block;
    padding: .5rem;
    width: 50px;
}

.header__socials a:hover {
    transform: scale(135%) translateX(2%);
}



/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (min-width: 601px) {
    header {
        display: flex;
        justify-content: center;
    }

    .header__container {
        max-width: 768px;
        padding: 4rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin-bottom: 3rem;
    }

    .header__image {
        width: 200px;
        height: 200px;
    }

    .header__image img {
        width: 300px;
        height: 300px;
    }

    .header__socials {
        display: flex;
        left: -50px;
    }
  }
  
  /* MEDIA QUERIES (BIG  DEVICES) */
  
  @media screen and (min-width: 992px) {
    .container.header__container {
        max-width: 1024px;
        padding: 0rem;
        font-size: 2em;
        margin-top: 1rem;
        height: 100vh;
    }

    .header__container {
        max-width: 992px;
        padding: 2rem;
        line-height: 2rem;
        display: grid;
        grid-template-columns: 60% 40%;
        height: auto;
        margin-bottom: 3rem;
    }

    .header__image {
        width: 250px;
        height: 250px;
    }

    .header__image img {
        width: 350px;
        height: 350px;
    }

    .header__socials {
        position: absolute;
        left: -100px;
        top: 50vh;
  }
}