.navbar__container {
    position: fixed;
    width: max-content;  
    left: 50vw;
    bottom: 1rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23rem;
    border: 1px solid rgb(137, 137, 137);
    padding: .5rem;
    background-color: rgba(116, 116, 116, 0.5);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: var(--transition);
}

.navbar__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    margin: .3rem .5rem;
    background-color: var(--color-black);
    border-radius: 50%;
    border: 1px solid transparent;
}

.navbar__container a:active {
    color: var(--color-white)
}

a.test-active {
    background-color: var(--color-gold);
    border: .5px solid var(--color-black);
    color: var(--color-black)
}

@media screen and (max-width: 601px) {
    .hidden {
        opacity: 0%;
        bottom: -50px;
    }
}