/* swiper styles */
.swiper__wrapper {
    max-width: 100%;
    padding: 2rem;
}

.swiper-button-next {
    padding-left: 1rem;
    color: var(--color-gold) !important;
    -webkit-text-stroke: 1px var(--color-black) !important;
}

.swiper-button-prev {
    padding-right: 1rem;
    color: var(--color-gold) !important;
    -webkit-text-stroke: 1px var(--color-black) !important;
}

.skills__container {
    background-image: radial-gradient(transparent, rgb(229, 229, 229)), 
    url("../assets/images/y-so-serious-white.png");
    color: var(--color-black);
    display: grid;
    grid-template-rows: 10% 80%;

}

.skills__header {
    color: var(--color-black);
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    line-height: 2rem;
}

.not-swipeable {
    display: none;
}

.skills-items__container {
    margin: 1rem auto;
    display: grid;
    height: fit-content;
    color: var(--color-white);
    background-image: var(--bg-img-dark);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.skills-items__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    background-color: var(--color-gold);
    overflow: hidden;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.skills-items__header h1 {
    font-size: 2rem;
}

.skills__icon {
    color: white;
    background-color: var(--color-black);
    padding: .5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.skill-item__container {
    padding: .5rem;
    font-size: 1.2rem;
}

.skill-item__container p {
    margin-top: .2rem;
}

.education-title__container,
.technology-title__container {
    display: flex;
    align-items: center;
}

.education-title__container p {
    padding-right: 2rem;
}

.technology-title__container {
    padding: .2rem;
}

.skills-content__container {
    padding: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (min-width: 601px) {
    /* other */
    .swipeable {
        display: none;
    }

    .not-swipeable {
        margin: 0 2rem;
        display: flex;
        gap: 2%;
    }

    .skills__container {
        display: flex;
        flex-direction: column;
    }

    .skills__header {
        padding: 2rem;
    }

    .skills-items__container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .skills-items__header {
        padding: .5rem;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-gold);
        overflow: hidden;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }

    .skills-items__header h1 {
        font-size: 2.2rem;
    }
    
    .skills__icon {
        transform: scale(80%);
    }

    .technology-title__container {
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
}

    /* MEDIA QUERIES (BIG  DEVICES) */
      /* swiper styles */
@media screen and (min-width: 992px) {    
      .swiper__wrapper {
        max-width: 1024px;
    }

    .swiper-button-next {
        padding-left: 1.5rem;
    }
    
    .swiper-button-prev {
        padding-right: 1.5rem;
    }

    /* other */
    .skills__container {
        /* justify-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .not-swipeable {
        max-width: 1024px;
        margin: 0 auto;
        padding: 1rem;
    }

    .skills-items__container {
        width: 50%;
    }

    .skills__header {
        padding-bottom: 3rem;
        font-size: 3em;
    }

    .skills-items__header h1 {
        font-size: 2.8rem;
    }
    
    .skills__icon {
        color: white;
        background-color: var(--color-black);
        padding: .5rem;
        border-radius: 50%;
    }
    
    .skill-item__container {
        padding: 1rem;
        font-size: 1.4rem;
    }
    
    .education-title__container p {
     margin-right: .5rem;
    }
}