* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: radial-gradient(transparent, black),
              url("./assets/images/curls-dark-bg.png");
  background-size: cover 60%;
  background-attachment: fixed;

}

body {
  /* background-image: url("./assets/images/curls-dark-bg.png"); */

  color: white;
  font-family: "Raleway", sans-serif;
}

a.nav-el {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  margin-right: 1em;
}



