* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-img-light: url("./assets/images/y-so-serious-white.png");
  --bg-img-dark: url("./assets/images/y-so-serious.png");

  --color-black: #000;
  --color-white: #fff;
  --color-gold: #fca311;
  --color-white-variant: #e5e5e5;
  
  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 922:
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: var(--color-white);
  line-height: 1.7rem;
}

/* GENERAL STYLES */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}



