* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-img-light: url("./assets/images/y-so-serious-white.png");
  --bg-img-dark: url("./assets/images/y-so-serious.png");

  --color-black: #000;
  --color-white: #fff;
  --color-gold: #fca311;
  --color-gold-variant: #fcbf49;
  --color-white-variant: #e5e5e5;
  
  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 92%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: var(--color-white);
  line-height: 1.7rem;
}

a {
  color: var(--color-white-variant);
  transition: var(--transition);
}

a:hover {
  color: var(--color-gold-variant);
}

.btn {
  width: 150px;
  height: 60px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary {
  color: var(--color-gold);
  background-color: transparent;
  border: 1px solid var(--color-gold);
  transition: var(--transition);
}

.btn-primary:hover {
  color: #000;
  background-color: var(--color-gold);
}


/* GENERAL STYLES */
.container {
  width: var(--container-width-sm);
  margin: 0 auto;
}

section:nth-child(n) {
  background-image: radial-gradient(transparent, rgb(0, 0, 0)), 
  url("./assets/images/y-so-serious.png");
}

section:nth-child(2n+1) {
  background-image: radial-gradient(transparent, rgb(229, 229, 229)), 
  url("./assets/images/y-so-serious-white.png");
}

section, header {
  height: 100vh;
}

/* TYPOGRAPHY */

.weight-500 {
  font-weight: 500;
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 601px) {
  .section, header {
    height: auto;
    width: var(--container-width-sm);
    margin: 0 auto;
  }

  .section {
      margin-top: 6rem;

  }
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (min-width: 601px) {
  .container {
      width: var(--container-width-md)
  }

  .section {
      margin-top: 6rem;

  }
}

/* MEDIA QUERIES (BIG  DEVICES) */

@media screen and (min-width: 992px) {
  .container {
      width: var(--container-width-lg)
  }

  .section > h2 {
      margin-bottom: 2rem;
  }
}



